*{
    margin: 0;
    padding: 0;
}
header{
    background: coral;
    font-family: Arial, Helvetica, sans-serif;
}
header h1{
    padding:2% 0% 2% 0.05%;
    color: #fff;

}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
nav {
    background: #000000;
    color: #fff;
    height: 20px;
    width: auto;
}
nav ul li{
    list-style: none;
    display: inline;
    padding-right: 10px;
    margin: 6px;
    text-decoration: none;

}
a{
    text-decoration: none;
    color: #fff;
}
.main{
    background: url(../images/1.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 45px;
    text-align: center;
    
}
#wel{
    float: left;
    width: 70%;
    padding: 5% 2% 0 2%;
    box-sizing: border-box;
}
#www{
    float: right;
    width: 30%;
    margin-top: 5%;
    padding: 10px;
    box-sizing: border-box;
    background-color: gray;
    color: #fff;
    margin-top: 5%;

}
.rel{
    position: relative;
}
#footer{
    background-color: #000000;
    margin-bottom: 50px;
    color: #fff;
    height: 40px;
    display: block;
    text-align: center;
    width:100%;
   
    position: absolute;
    margin-top: 200px;
    
}
@media(max-width:600px){
    #www, #wel{
        float: none;
        width: 100%;
    }
    #footer{
        margin-top: 50px;
    }

}
